@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family: "Outfit";
    position: relative;
}
.box{
    margin-top: 80px;
    background-color: aliceblue;
    height: 530px;
    width: 345px;
    border-radius: 20px;
    box-shadow: 0 1px 0.5px 0 rgba(0, 0, 0, 0.2);
}
img{
    border-radius: 20px;
    margin-top: 21px;
    margin-left: 18px;  
}
.heading {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
.subtext {
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    color: hsl(220, 1%, 46%);
}
@media (max-width:380px){
    .box{
        height: 520px;
        width: 335px;
    }
    img{
    border-radius: 20px;
    margin-top: 17px;
    margin-left: 13px;
    }
}